# Flutter/Dart/Pub related
.dart_tool/
.idea/
.flutter-plugins-dependencies
.flutter-plugins
.package
.packages
build/
.gradle
.idea
.metadata
*.iml

# iOS related
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# Android related
.gradle/
.android/
/android/local.properties
/android/app/debug.keystore

# VS Code
.vscode/

# IntelliJ related
*.iml
.idea/

# Obsolete artifacts
.DS_Store

# FVM Version Cache
.fvm/